.App {
}


.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
  }
  
  .link-button:hover,
  .link-button:focus {
  text-decoration: none;
  color: black;
  }